<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Tracked Networks
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding *ngIf="!tracker.networks.length">
    <button ion-button padding outline block
        (click)="goToScan()">
        Add Networks
    </button>
  </div>

  <ion-list>

    <ion-item-sliding #itemSliding *ngFor="let net of tracker.networks">
      <ion-item>
        <h2>{{net}}</h2>
        <ion-icon name="swap" item-right></ion-icon>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteNetwork(net)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
